<section class="py-24">

  <app-container>

    <div class="mb-16 text-center">

      <span class="text-sm font-semibold uppercase tracking-[0.3em] text-red-600">
        Latest Blogs
      </span>

      <h2 class="mt-4 text-5xl font-bold">
        News & Articles
      </h2>

    </div>

    <div class="grid gap-8 lg:grid-cols-3">

      @for(blog of blogs; track blog.title){

      <div class="  bg-white  rounded-[20px] overflow-hidden shadow-lg transition-all duration-700 hover:scale-110">

        <img 
          [src]="blog.image"
          [alt]="blog.title"
          class="h-64 w-full object-cover ">

        <div class="p-6">

          <h3 class="text-2xl font-semibold">
            {{ blog.title }}
          </h3>

          <button class="mt-6 text-red-600 font-semibold">
            Read More →
          </button>

        </div>

      </div>

      }

    </div>

  </app-container>

</section>