<section
  class="relative overflow-hidden bg-[url('/images/banners/reservation-banner.jpg')] bg-cover bg-center py-32">

  <div class="absolute inset-0 bg-black/75"></div>

  <app-container>

    <div class="relative z-10 mx-auto max-w-3xl text-center text-white">

      <span class="rounded-full bg-red-600 px-4 py-2 text-sm font-semibold">
        Reserve Your Table
      </span>

      <h2 class="mt-8 text-5xl lg:text-6xl font-bold leading-tight bg-white/80 ">

        Book Your Perfect Dining Experience

      </h2>

      <p class="mt-6 text-lg text-gray-200">

        Reserve your table online and enjoy an unforgettable
        dining experience with your family and friends.

      </p>

      <div class="mt-10 hover:scale-105">

        <app-button  variant="primary">

          Reserve Now

        </app-button>

      </div>

    </div>

  </app-container>

</section>